In [2]:
import requests
import pandas as pd

In [2]:
def obtener_piscinas():
    url = "https://datos.madrid.es/egob/catalogo/210227-0-piscinas-publicas.csv"
    
    try:
        response = requests.get(url)
        response.raise_for_status()  # Verifica si la solicitud fue exitosa

        # Si la solicitud es exitosa, retorna el contenido en formato CSV
        return response.content

    except requests.exceptions.RequestException as e:
        print("Error al obtener las piscinas:", e)
        return None

In [3]:
contenido_csv = obtener_piscinas()

# Verificar si se obtuvo el contenido y guardarlo en un archivo CSV
if contenido_csv:
    with open("../data/madrid/Piscinas/piscinas_madrid.csv", "wb") as archivo_csv:
        archivo_csv.write(contenido_csv)
    print("Se ha guardado el archivo piscinas_madrid.csv")

Se ha guardado el archivo piscinas_madrid.csv

In [108]:
df = pd.read_csv("../data/madrid/Piscinas/piscinas_madrid.csv", sep=";", encoding="latin-1")

In [109]:
df.head()

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,4707,Centro Deportivo Municipal María Jesús Rosa (...,NaN,Horario de uso de las instalaciones deportivas...,Clases deportivas Pre-infantiles (0 a 5 añ...,"Metro: Barrio del Pilar , Peñagrande. Bus: 4...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,MONFORTE DE LEMOS,...,FUENCARRAL-EL PARDO,439931,4481139,40.478768,-3.708699,914 800 476 - idmlavaguada@madrid.es,NaN,idmlavaguada@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,
1,10183549,Centro Deportivo Municipal Alcántara,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre-infantiles...,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ALCANTARA,...,SALAMANCA,442851,4475492,40.428103,-3.673732,917 373 641,NaN,alcantara@viding.es,/contenido/entidadesYorganismos/CentrosEspacio...,
2,114782,Centro Deportivo Municipal Alfredo Goyeneche,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre infantile...,"Bus: 160, 161, 658 Renfe: Aravaca Biciclet...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ARROYO DE POZUELO,...,MONCLOA-ARAVACA,433581,4478234,40.452121,-3.783283,913 571 228,NaN,idmagoyeneche@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,
3,4696,Centro Deportivo Municipal Aluche,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre-Infanti...,"Metro: Aluche Bus: 17, 34, 139 Cercanías Ren...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,DE LAS AGUILAS,...,LATINA,434332,4470525,40.382721,-3.773654,917 062 868,NaN,idmaluche@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,
4,4678,Centro Deportivo Municipal Ángel Nieto (antigu...,NaN,Horario de uso de las instalaciones deportivas...,Clases y escuelas deportivas Pre-infantiles...,"Metro: Portazgo. Bus: 10 , 54 , 57 , 58 , 1...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,PAYASO FOFO,...,PUENTE DE VALLECAS,443998,4471417,40.391462,-3.659864,914 781 492,NaN,idmpvallecas@madrid.es,/contenido/entidadesYorganismos/CentrosEspacio...,

In [110]:
df["DESCRIPCION"] =  df["DESCRIPCION"].fillna("No disponible")

In [111]:
df["DESCRIPCION"].head()

0    No disponible
1    No disponible
2    No disponible
3    No disponible
4    No disponible
Name: DESCRIPCION, dtype: object

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PK                   59 non-null     int64
 1   NOMBRE               59 non-null     object
 2   DESCRIPCION-ENTIDAD  0 non-null      float64
 3   HORARIO              58 non-null     object
 4   EQUIPAMIENTO         57 non-null     object
 5   TRANSPORTE           59 non-null     object
 6   DESCRIPCION          59 non-null     object
 7   ACCESIBILIDAD        59 non-null     object
 8   CONTENT-URL          59 non-null     object
 9   NOMBRE-VIA           59 non-null     object
 10  CLASE-VIAL           59 non-null     object
 11  TIPO-NUM             59 non-null     object
 12  NUM                  58 non-null     float64
 13  PLANTA               0 non-null      float64
 14  PUERTA               0 non-null      float64
 15  ESCALERAS            0 non-null      float64
 16  ORIENTACION          1 non-null      object
 17  LOCALIDAD            59 non-null     object
 18  PROVINCIA            59 non-null     object
 19  CODIGO-POSTAL        59 non-null     int64
 20  COD-BARRIO           57 non-null     float64
 21  BARRIO               59 non-null     object
 22  COD-DISTRITO         57 non-null     float64
 23  DISTRITO             59 non-null     object
 24  COORDENADA-X         59 non-null     int64
 25  COORDENADA-Y         59 non-null     int64
 26  LATITUD              59 non-null     float64
 27  LONGITUD             59 non-null     float64
 28  TELEFONO             58 non-null     object
 29  FAX                  2 non-null      object
 30  EMAIL                57 non-null     object
 31  TIPO                 59 non-null     object
 32  Unnamed: 32          59 non-null     object
dtypes: float64(9), int64(4), object(20)
memory usage: 15.3+ KB

In [90]:
df.describe()

,PK,DESCRIPCION-ENTIDAD,NUM,PLANTA,PUERTA,ESCALERAS,CODIGO-POSTAL,COD-BARRIO,COD-DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
count,5.900000e+01,0.0,58.000000,0.0,0.0,0.0,59.000000,57.000000,57.000000,59.000000,5.900000e+01,59.000000,59.000000
mean,1.562421e+06,NaN,32.810345,NaN,NaN,NaN,28027.525424,3.438596,10.385965,441988.966102,4.474764e+06,40.421316,-3.683938
std,3.224063e+06,NaN,57.872351,NaN,NaN,NaN,14.491800,1.927411,5.195308,3791.281750,4.265016e+03,0.038415,0.044624
min,4.672000e+03,NaN,1.000000,NaN,NaN,NaN,28002.000000,1.000000,1.000000,433581.000000,4.466411e+06,40.346220,-3.783283
25%,4.689500e+03,NaN,5.000000,NaN,NaN,NaN,28017.500000,2.000000,7.000000,439578.500000,4.471206e+06,40.389436,-3.712325
50%,4.707000e+03,NaN,13.500000,NaN,NaN,NaN,28029.000000,3.000000,10.000000,441216.000000,4.474779e+06,40.421720,-3.692821
75%,1.278940e+05,NaN,35.250000,NaN,NaN,NaN,28039.500000,5.000000,14.000000,444285.000000,4.478242e+06,40.452689,-3.656582
max,1.202219e+07,NaN,376.000000,NaN,NaN,NaN,28054.000000,7.000000,21.000000,450176.000000,4.483276e+06,40.498095,-3.587693

In [113]:
df = df.drop(["DESCRIPCION-ENTIDAD","PLANTA","PUERTA","ESCALERAS","ORIENTACION","FAX","EMAIL","Unnamed: 32","CONTENT-URL","COD-BARRIO","COD-DISTRITO","TELEFONO","TIPO","PROVINCIA","EQUIPAMIENTO","ACCESIBILIDAD","HORARIO","TIPO-NUM"],axis=1)

In [117]:
df.head()

,PK,NOMBRE,TRANSPORTE,DESCRIPCION,NOMBRE-VIA,CLASE-VIAL,NUM,LOCALIDAD,CODIGO-POSTAL,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
0,4707,Centro Deportivo Municipal María Jesús Rosa (...,"Metro: Barrio del Pilar , Peñagrande. Bus: 4...",No disponible,MONFORTE DE LEMOS,AVENIDA,38.0,MADRID,28029,EL PILAR,FUENCARRAL-EL PARDO,439931,4481139,40.478768,-3.708699
1,10183549,Centro Deportivo Municipal Alcántara,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",No disponible,ALCANTARA,CALLE,26.0,MADRID,28006,GOYA,SALAMANCA,442851,4475492,40.428103,-3.673732
2,114782,Centro Deportivo Municipal Alfredo Goyeneche,"Bus: 160, 161, 658 Renfe: Aravaca Biciclet...",No disponible,ARROYO DE POZUELO,CALLE,99.0,MADRID,28023,ARAVACA,MONCLOA-ARAVACA,433581,4478234,40.452121,-3.783283
3,4696,Centro Deportivo Municipal Aluche,"Metro: Aluche Bus: 17, 34, 139 Cercanías Ren...",No disponible,DE LAS AGUILAS,AVENIDA,14.0,MADRID,28044,LAS AGUILAS,LATINA,434332,4470525,40.382721,-3.773654
4,4678,Centro Deportivo Municipal Ángel Nieto (antigu...,"Metro: Portazgo. Bus: 10 , 54 , 57 , 58 , 1...",No disponible,PAYASO FOFO,CALLE,7.0,MADRID,28018,PALOMERAS BAJAS,PUENTE DE VALLECAS,443998,4471417,40.391462,-3.659864

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PK             59 non-null     int64
 1   NOMBRE         59 non-null     object
 2   TRANSPORTE     59 non-null     object
 3   DESCRIPCION    59 non-null     object
 4   NOMBRE-VIA     59 non-null     object
 5   CLASE-VIAL     59 non-null     object
 6   NUM            59 non-null     object
 7   LOCALIDAD      59 non-null     object
 8   CODIGO-POSTAL  59 non-null     int64
 9   BARRIO         59 non-null     object
 10  DISTRITO       59 non-null     object
 11  COORDENADA-X   59 non-null     int64
 12  COORDENADA-Y   59 non-null     int64
 13  LATITUD        59 non-null     float64
 14  LONGITUD       59 non-null     float64
dtypes: float64(2), int64(4), object(9)
memory usage: 7.0+ KB

In [119]:
df["NUM"] = df["NUM"].fillna("No disponible")

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PK             59 non-null     int64
 1   NOMBRE         59 non-null     object
 2   TRANSPORTE     59 non-null     object
 3   DESCRIPCION    59 non-null     object
 4   NOMBRE-VIA     59 non-null     object
 5   CLASE-VIAL     59 non-null     object
 6   NUM            59 non-null     object
 7   LOCALIDAD      59 non-null     object
 8   CODIGO-POSTAL  59 non-null     int64
 9   BARRIO         59 non-null     object
 10  DISTRITO       59 non-null     object
 11  COORDENADA-X   59 non-null     int64
 12  COORDENADA-Y   59 non-null     int64
 13  LATITUD        59 non-null     float64
 14  LONGITUD       59 non-null     float64
dtypes: float64(2), int64(4), object(9)
memory usage: 7.0+ KB

In [121]:
df.describe()

,PK,CODIGO-POSTAL,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
count,5.900000e+01,59.000000,59.000000,5.900000e+01,59.000000,59.000000
mean,1.562421e+06,28027.525424,441988.966102,4.474764e+06,40.421316,-3.683938
std,3.224063e+06,14.491800,3791.281750,4.265016e+03,0.038415,0.044624
min,4.672000e+03,28002.000000,433581.000000,4.466411e+06,40.346220,-3.783283
25%,4.689500e+03,28017.500000,439578.500000,4.471206e+06,40.389436,-3.712325
50%,4.707000e+03,28029.000000,441216.000000,4.474779e+06,40.421720,-3.692821
75%,1.278940e+05,28039.500000,444285.000000,4.478242e+06,40.452689,-3.656582
max,1.202219e+07,28054.000000,450176.000000,4.483276e+06,40.498095,-3.587693

In [122]:
df.head()

,PK,NOMBRE,TRANSPORTE,DESCRIPCION,NOMBRE-VIA,CLASE-VIAL,NUM,LOCALIDAD,CODIGO-POSTAL,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
0,4707,Centro Deportivo Municipal María Jesús Rosa (...,"Metro: Barrio del Pilar , Peñagrande. Bus: 4...",No disponible,MONFORTE DE LEMOS,AVENIDA,38.0,MADRID,28029,EL PILAR,FUENCARRAL-EL PARDO,439931,4481139,40.478768,-3.708699
1,10183549,Centro Deportivo Municipal Alcántara,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",No disponible,ALCANTARA,CALLE,26.0,MADRID,28006,GOYA,SALAMANCA,442851,4475492,40.428103,-3.673732
2,114782,Centro Deportivo Municipal Alfredo Goyeneche,"Bus: 160, 161, 658 Renfe: Aravaca Biciclet...",No disponible,ARROYO DE POZUELO,CALLE,99.0,MADRID,28023,ARAVACA,MONCLOA-ARAVACA,433581,4478234,40.452121,-3.783283
3,4696,Centro Deportivo Municipal Aluche,"Metro: Aluche Bus: 17, 34, 139 Cercanías Ren...",No disponible,DE LAS AGUILAS,AVENIDA,14.0,MADRID,28044,LAS AGUILAS,LATINA,434332,4470525,40.382721,-3.773654
4,4678,Centro Deportivo Municipal Ángel Nieto (antigu...,"Metro: Portazgo. Bus: 10 , 54 , 57 , 58 , 1...",No disponible,PAYASO FOFO,CALLE,7.0,MADRID,28018,PALOMERAS BAJAS,PUENTE DE VALLECAS,443998,4471417,40.391462,-3.659864

In [98]:
# Intercambiamos el orden de las columnas 3 y 4 para luego cambiarles el nombre para favorecer la visualización.
df.iloc[:, [3, 4]] = df.iloc[:, [4, 3]].values

In [123]:
df.rename(columns={"NOMBRE-VIA": "CLASE-VIA", "CLASE-VIAL": "NOMBRE-VIA"}, inplace=True)

In [124]:
df.head()

,PK,NOMBRE,TRANSPORTE,DESCRIPCION,CLASE-VIA,NOMBRE-VIA,NUM,LOCALIDAD,CODIGO-POSTAL,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
0,4707,Centro Deportivo Municipal María Jesús Rosa (...,"Metro: Barrio del Pilar , Peñagrande. Bus: 4...",No disponible,MONFORTE DE LEMOS,AVENIDA,38.0,MADRID,28029,EL PILAR,FUENCARRAL-EL PARDO,439931,4481139,40.478768,-3.708699
1,10183549,Centro Deportivo Municipal Alcántara,"Metro: Lista, Manuel Becerra. Bus: 21, 43, 53...",No disponible,ALCANTARA,CALLE,26.0,MADRID,28006,GOYA,SALAMANCA,442851,4475492,40.428103,-3.673732
2,114782,Centro Deportivo Municipal Alfredo Goyeneche,"Bus: 160, 161, 658 Renfe: Aravaca Biciclet...",No disponible,ARROYO DE POZUELO,CALLE,99.0,MADRID,28023,ARAVACA,MONCLOA-ARAVACA,433581,4478234,40.452121,-3.783283
3,4696,Centro Deportivo Municipal Aluche,"Metro: Aluche Bus: 17, 34, 139 Cercanías Ren...",No disponible,DE LAS AGUILAS,AVENIDA,14.0,MADRID,28044,LAS AGUILAS,LATINA,434332,4470525,40.382721,-3.773654
4,4678,Centro Deportivo Municipal Ángel Nieto (antigu...,"Metro: Portazgo. Bus: 10 , 54 , 57 , 58 , 1...",No disponible,PAYASO FOFO,CALLE,7.0,MADRID,28018,PALOMERAS BAJAS,PUENTE DE VALLECAS,443998,4471417,40.391462,-3.659864

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PK             59 non-null     int64
 1   NOMBRE         59 non-null     object
 2   TRANSPORTE     59 non-null     object
 3   DESCRIPCION    59 non-null     object
 4   CLASE-VIA      59 non-null     object
 5   NOMBRE-VIA     59 non-null     object
 6   NUM            59 non-null     object
 7   LOCALIDAD      59 non-null     object
 8   CODIGO-POSTAL  59 non-null     int64
 9   BARRIO         59 non-null     object
 10  DISTRITO       59 non-null     object
 11  COORDENADA-X   59 non-null     int64
 12  COORDENADA-Y   59 non-null     int64
 13  LATITUD        59 non-null     float64
 14  LONGITUD       59 non-null     float64
dtypes: float64(2), int64(4), object(9)
memory usage: 7.0+ KB

In [95]:
# nombre_archivo = "../Json/piscinas.json"

In [96]:
# df.to_json(nombre_archivo, orient='records')

### Nuevo enfoque, quieren todo en un .json, unificaremos columnas y los propios json en cada cosa. Solo 4 columnas tipo,nombre,direccion,coordenada-x,coordenada-y latitud,longitud y descripcion

In [126]:
def concatenar_fila(row):
    return f"{row['CLASE-VIA']} {row['NOMBRE-VIA']} {row['NUM']}, {row['LOCALIDAD']}, {row['CODIGO-POSTAL']}"

# Crear la nueva columna "DIRECCION" aplicando la función a lo largo de las filas
df['DIRECCION'] = df.apply(concatenar_fila, axis=1)

In [127]:
df.columns

Index(['PK', 'NOMBRE', 'TRANSPORTE', 'DESCRIPCION', 'CLASE-VIA', 'NOMBRE-VIA',
       'NUM', 'LOCALIDAD', 'CODIGO-POSTAL', 'BARRIO', 'DISTRITO',
       'COORDENADA-X', 'COORDENADA-Y', 'LATITUD', 'LONGITUD', 'DIRECCION'],
      dtype='object')

In [128]:
df.drop(['PK','TRANSPORTE','CLASE-VIA', 'NOMBRE-VIA', 'NUM',
       'LOCALIDAD', 'CODIGO-POSTAL', 'BARRIO', 'DISTRITO'],axis = 1,inplace=True)

In [129]:
df["TIPO"] = "PISCINAS"

In [130]:
df.head()

,NOMBRE,DESCRIPCION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,DIRECCION,TIPO
0,Centro Deportivo Municipal María Jesús Rosa (...,No disponible,439931,4481139,40.478768,-3.708699,"MONFORTE DE LEMOS AVENIDA 38.0, MADRID, 28029",PISCINAS
1,Centro Deportivo Municipal Alcántara,No disponible,442851,4475492,40.428103,-3.673732,"ALCANTARA CALLE 26.0, MADRID, 28006",PISCINAS
2,Centro Deportivo Municipal Alfredo Goyeneche,No disponible,433581,4478234,40.452121,-3.783283,"ARROYO DE POZUELO CALLE 99.0, MADRID, 28023",PISCINAS
3,Centro Deportivo Municipal Aluche,No disponible,434332,4470525,40.382721,-3.773654,"DE LAS AGUILAS AVENIDA 14.0, MADRID, 28044",PISCINAS
4,Centro Deportivo Municipal Ángel Nieto (antigu...,No disponible,443998,4471417,40.391462,-3.659864,"PAYASO FOFO CALLE 7.0, MADRID, 28018",PISCINAS

In [131]:
nuevo_orden_columnas = ["TIPO","NOMBRE","DIRECCION","DESCRIPCION","COORDENADA-X","COORDENADA-Y","LATITUD","LONGITUD"] 
df = df.reindex(columns=nuevo_orden_columnas)

In [132]:
df.head()

,TIPO,NOMBRE,DIRECCION,DESCRIPCION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
0,PISCINAS,Centro Deportivo Municipal María Jesús Rosa (...,"MONFORTE DE LEMOS AVENIDA 38.0, MADRID, 28029",No disponible,439931,4481139,40.478768,-3.708699
1,PISCINAS,Centro Deportivo Municipal Alcántara,"ALCANTARA CALLE 26.0, MADRID, 28006",No disponible,442851,4475492,40.428103,-3.673732
2,PISCINAS,Centro Deportivo Municipal Alfredo Goyeneche,"ARROYO DE POZUELO CALLE 99.0, MADRID, 28023",No disponible,433581,4478234,40.452121,-3.783283
3,PISCINAS,Centro Deportivo Municipal Aluche,"DE LAS AGUILAS AVENIDA 14.0, MADRID, 28044",No disponible,434332,4470525,40.382721,-3.773654
4,PISCINAS,Centro Deportivo Municipal Ángel Nieto (antigu...,"PAYASO FOFO CALLE 7.0, MADRID, 28018",No disponible,443998,4471417,40.391462,-3.659864