In [4]:
import requests
import pandas as pd

In [5]:
def obtener_templos_no_catolicos():
    url = "https://datos.madrid.es/egob/catalogo/209434-0-templos-otros.csv"
    
    try:
        response = requests.get(url)
        response.raise_for_status()  # Verifica si la solicitud fue exitosa

        # Si la solicitud es exitosa, retorna el contenido en formato CSV
        return response.content

    except requests.exceptions.RequestException as e:
        print("Error al obtener los templos no católicos:", e)
        return None

In [6]:
contenido_csv = obtener_templos_no_catolicos()

# Verificar si se obtuvo el contenido y guardarlo en un archivo CSV
if contenido_csv:
    with open("../data/madrid/Templos_no_catolicos/templos_no_catolicos.csv", "wb") as archivo_csv:
        archivo_csv.write(contenido_csv)
    print("Se ha guardado el archivo templos_no_catolicos.csv")

Se ha guardado el archivo templos_no_catolicos.csv

In [7]:
df = pd.read_csv("../data/madrid/Templos_no_catolicos/templos_no_catolicos.csv", sep=";", encoding="latin-1")

In [8]:
df

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,11772877,Asamblea Cristiana Gilgal,Templo evangélico.,NaN,NaN,"Bus: 141, 133, 8.",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,GARGANTA DE AISA,...,PUENTE DE VALLECAS,444200,4472697,40.403023,-3.657575,NaN,NaN,NaN,/contenido/entidadesYorganismos/TemplosOtrasRe...,
1,11025958,Asambleas de Evangelización Mundial para Crist...,Templo evangélico,NaN,NaN,"Metro: San Francisco (línea 11) Bus: 108, 118...",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ANTONIA RODRIGUEZ SACRISTAN,...,CARABANCHEL,436747,4469402,40.372800,-3.745074,NaN,NaN,NaN,/contenido/entidadesYorganismos/TemplosOtrasRe...,
2,11026848,Asociación Evangélica Internacional,Templo evangélico.,NaN,NaN,"Metro: Colombia (líneas 8 y 9). Bus: 52, 11, ...",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,NICARAGUA,...,CHAMARTIN,443135,4478797,40.457895,-3.670675,NaN,NaN,NaN,/contenido/entidadesYorganismos/TemplosOtrasRe...,
3,3387,Catedral Anglicana de Madrid,Iglesia Española Reformada Episcopal Comunión ...,NaN,NaN,"Metro: Alonso Martínez (líneas 4, 5 y 10), Tri...",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,BENEFICENCIA,...,CENTRO,440734,4475314,40.426355,-3.698666,914 452 560 / 609 876 913,NaN,anglicanspain@gmail.com,/contenido/entidadesYorganismos/TemplosOtrasRe...,
4,3388,Catedral Ortodoxa Griega. Santa Iglesia Catedr...,NaN,NaN,NaN,"Metro: Colombia (líneas 8 y 9). Bus: 11, 40, ...",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,NICARAGUA,...,CHAMARTIN,442946,4478760,40.457555,-3.672895,913 454 085 / 913 503 705,913 509 374,metropoliespo@yahoo.es,/contenido/entidadesYorganismos/TemplosOtrasRe...,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,11432588,Testigos Cristianos de Jehová. Calle Tembleque,NaN,NaN,NaN,"Metro: Empalme, Campamento (línea 5) Bus: 25,...",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,TEMBLEQUE,...,LATINA,435476,4471898,40.395189,-3.760301,915 188 149,NaN,NaN,/contenido/entidadesYorganismos/TemplosOtrasRe...,
294,189351,Testigos Cristianos de Jehová. Calle Venancio ...,NaN,NaN,NaN,Metro: Nueva Numancia (línea 1) Bus: 141 Bic...,NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,VENANCIO MARTIN,...,PUENTE DE VALLECAS,443866,4472138,40.397957,-3.661471,914 399 065,NaN,NaN,/contenido/entidadesYorganismos/TemplosOtrasRe...,
295,11731424,Testigos Cristianos de Jehová. Calle Ámbar,NaN,NaN,NaN,"Renfe Cercanías: Villaverde Bajo (C3, C4, C4a)",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,AMBAR,...,VILLA DE VALLECAS,447494,4469416,40.373674,-3.618489,917 977 863,NaN,NaN,/contenido/entidadesYorganismos/TemplosOtrasRe...,
296,11745450,The Korea Assemblies of God Full Gospel,Templo evangélico.,NaN,NaN,"Metro: Cuatro Caminos (líneas 1, 2 y 6). Bus:...",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,HERNANI,...,TETUAN,440586,4477736,40.448161,-3.700636,NaN,NaN,NaN,/contenido/entidadesYorganismos/TemplosOtrasRe...,
297,11773010,Yoido Full Gospel Madrid Church,Templo evangélico.,NaN,NaN,"Metro: Valdezarza (línea 7), Francos Rodríguez...",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,OFELIA NIETO,...,MONCLOA-ARAVACA,439837,4479117,40.460551,-3.709605,NaN,NaN,NaN,/contenido/entidadesYorganismos/TemplosOtrasRe...,

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PK                   298 non-null    int64
 1   NOMBRE               298 non-null    object
 2   DESCRIPCION-ENTIDAD  250 non-null    object
 3   HORARIO              0 non-null      float64
 4   EQUIPAMIENTO         0 non-null      float64
 5   TRANSPORTE           298 non-null    object
 6   DESCRIPCION          0 non-null      float64
 7   ACCESIBILIDAD        298 non-null    int64
 8   CONTENT-URL          298 non-null    object
 9   NOMBRE-VIA           298 non-null    object
 10  CLASE-VIAL           297 non-null    object
 11  TIPO-NUM             298 non-null    object
 12  NUM                  294 non-null    float64
 13  PLANTA               58 non-null     object
 14  PUERTA               41 non-null     object
 15  ESCALERAS            0 non-null      float64
 16  ORIENTACION          49 non-null     object
 17  LOCALIDAD            298 non-null    object
 18  PROVINCIA            298 non-null    object
 19  CODIGO-POSTAL        298 non-null    int64
 20  COD-BARRIO           298 non-null    int64
 21  BARRIO               298 non-null    object
 22  COD-DISTRITO         298 non-null    int64
 23  DISTRITO             298 non-null    object
 24  COORDENADA-X         298 non-null    int64
 25  COORDENADA-Y         298 non-null    int64
 26  LATITUD              298 non-null    float64
 27  LONGITUD             298 non-null    float64
 28  TELEFONO             41 non-null     object
 29  FAX                  1 non-null      object
 30  EMAIL                13 non-null     object
 31  TIPO                 298 non-null    object
 32  Unnamed: 32          298 non-null    object
dtypes: float64(7), int64(7), object(19)
memory usage: 77.0+ KB

In [10]:
df = df.drop(["DESCRIPCION-ENTIDAD","HORARIO","EQUIPAMIENTO","DESCRIPCION","ACCESIBILIDAD","CONTENT-URL","TIPO-NUM",
              "PLANTA","PUERTA","ESCALERAS","ORIENTACION","LOCALIDAD","PROVINCIA","CODIGO-POSTAL","COD-DISTRITO","COD-BARRIO",
              "TELEFONO","FAX","EMAIL","TIPO","Unnamed: 32"],axis=1)

In [11]:
df.head()

,PK,NOMBRE,TRANSPORTE,NOMBRE-VIA,CLASE-VIAL,NUM,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
0,11772877,Asamblea Cristiana Gilgal,"Bus: 141, 133, 8.",GARGANTA DE AISA,CALLE,34.0,NUMANCIA,PUENTE DE VALLECAS,444200,4472697,40.403023,-3.657575
1,11025958,Asambleas de Evangelización Mundial para Crist...,"Metro: San Francisco (línea 11) Bus: 108, 118...",ANTONIA RODRIGUEZ SACRISTAN,CALLE,8.0,BUENAVISTA,CARABANCHEL,436747,4469402,40.372800,-3.745074
2,11026848,Asociación Evangélica Internacional,"Metro: Colombia (líneas 8 y 9). Bus: 52, 11, ...",NICARAGUA,CALLE,19.0,HISPANOAMERICA,CHAMARTIN,443135,4478797,40.457895,-3.670675
3,3387,Catedral Anglicana de Madrid,"Metro: Alonso Martínez (líneas 4, 5 y 10), Tri...",BENEFICENCIA,CALLE,18.0,JUSTICIA,CENTRO,440734,4475314,40.426355,-3.698666
4,3388,Catedral Ortodoxa Griega. Santa Iglesia Catedr...,"Metro: Colombia (líneas 8 y 9). Bus: 11, 40, ...",NICARAGUA,CALLE,12.0,HISPANOAMERICA,CHAMARTIN,442946,4478760,40.457555,-3.672895

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PK            298 non-null    int64
 1   NOMBRE        298 non-null    object
 2   TRANSPORTE    298 non-null    object
 3   NOMBRE-VIA    298 non-null    object
 4   CLASE-VIAL    297 non-null    object
 5   NUM           294 non-null    float64
 6   BARRIO        298 non-null    object
 7   DISTRITO      298 non-null    object
 8   COORDENADA-X  298 non-null    int64
 9   COORDENADA-Y  298 non-null    int64
 10  LATITUD       298 non-null    float64
 11  LONGITUD      298 non-null    float64
dtypes: float64(3), int64(3), object(6)
memory usage: 28.1+ KB

In [13]:
df["NUM"] = df["NUM"].fillna("No disponible")

In [14]:
df["CLASE-VIAL"] = df["CLASE-VIAL"].fillna("No disponible")

In [15]:
# Intercambiamos el orden de las columnas 3 y 4 para luego cambiarles el nombre para favorecer la visualización.
df.iloc[:, [3, 4]] = df.iloc[:, [4, 3]].values

In [16]:
df.rename(columns={"NOMBRE-VIA": "CLASE-VIA", "CLASE-VIAL": "NOMBRE-VIA"}, inplace=True)

In [17]:
df.head()

,PK,NOMBRE,TRANSPORTE,CLASE-VIA,NOMBRE-VIA,NUM,BARRIO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD
0,11772877,Asamblea Cristiana Gilgal,"Bus: 141, 133, 8.",CALLE,GARGANTA DE AISA,34.0,NUMANCIA,PUENTE DE VALLECAS,444200,4472697,40.403023,-3.657575
1,11025958,Asambleas de Evangelización Mundial para Crist...,"Metro: San Francisco (línea 11) Bus: 108, 118...",CALLE,ANTONIA RODRIGUEZ SACRISTAN,8.0,BUENAVISTA,CARABANCHEL,436747,4469402,40.372800,-3.745074
2,11026848,Asociación Evangélica Internacional,"Metro: Colombia (líneas 8 y 9). Bus: 52, 11, ...",CALLE,NICARAGUA,19.0,HISPANOAMERICA,CHAMARTIN,443135,4478797,40.457895,-3.670675
3,3387,Catedral Anglicana de Madrid,"Metro: Alonso Martínez (líneas 4, 5 y 10), Tri...",CALLE,BENEFICENCIA,18.0,JUSTICIA,CENTRO,440734,4475314,40.426355,-3.698666
4,3388,Catedral Ortodoxa Griega. Santa Iglesia Catedr...,"Metro: Colombia (líneas 8 y 9). Bus: 11, 40, ...",CALLE,NICARAGUA,12.0,HISPANOAMERICA,CHAMARTIN,442946,4478760,40.457555,-3.672895

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PK            298 non-null    int64
 1   NOMBRE        298 non-null    object
 2   TRANSPORTE    298 non-null    object
 3   CLASE-VIA     298 non-null    object
 4   NOMBRE-VIA    298 non-null    object
 5   NUM           298 non-null    object
 6   BARRIO        298 non-null    object
 7   DISTRITO      298 non-null    object
 8   COORDENADA-X  298 non-null    int64
 9   COORDENADA-Y  298 non-null    int64
 10  LATITUD       298 non-null    float64
 11  LONGITUD      298 non-null    float64
dtypes: float64(2), int64(3), object(7)
memory usage: 28.1+ KB

In [19]:
nombre_archivo = "../Json/templos_no_catolicos.json"

In [20]:
df.to_json(nombre_archivo, orient='records')